<h1>All the restaurants</h1>


<p> <%= link_to "Add a new restaurant",  new_restaurant_path %> </p>

<% @restaurants.each do |restaurant| %>
<p><%= restaurant.name %> - <%= link_to 'Details', restaurant_path(restaurant) %></p>
<% end %>


